* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--primary: #fdbb40;
	--secondary: #ffffff;
	--tertiary: #d33359;
	--background: #fff5e2;
}

/* -------------------------------------------------- */
/* Inizio Common */
.wrapper {
	background-color: var(--background);
	height: 100vh;
}

/* Fine Common */
/* -------------------------------------------------- */
/* Inizio Header */

/* Fine Header */
/* -------------------------------------------------- */
/* Inizio Main */

/* Fine Main */
/* -------------------------------------------------- */
/* Inizio Footer */

/* Fine Footer */
/* -------------------------------------------------- */

/* !DEBUG ZONE! */

.debug header .container-fluid {
	background-color: var(--primary);
	height: 100px;
}

.debug main .container-fluid {
	background-color: var(--secondary);
	height: calc(100vh - 200px);
}

.debug footer .container-fluid {
	background-color: var(--tertiary);
	height: 100px;
}

.debug .header__image-box {
	height: 100px;
	width: 100px;
	padding: 0;
}

.debug .header__image-box_img {
	height: 200%;
	width: 200%;
	position: relative;
	top: -20px;
	right: 45px;
}

.debug #burgerName {
	font-size: 2rem;
	background-color: var(--secondary);
	border: none;
	transition: none;
}

.debug #burgerName:focus {
	box-shadow: none;
	background-color: var(--background);
}

.debug #discountCode {
	background-color: var(--background);
	border: none;
	transition: none;
}

.debug #discountCode:focus {
	box-shadow: none;
	background-color: var(--secondary);
}

.debug .ingredients__image-box {
	height: 60px;
	width: 60px;
}

.debug .ingredients__checkbox {
	background-color: var(--tertiary);
	height: 15px;
	width: 15px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.2rem;
}

.debug .offset {
	padding-left: 50px;
}
